version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.1
executors:
  node-executor:
    docker:
      - image: cimg/node:16.13.2 

jobs:
  build:
    executor: node-executor
    steps:
      - browser-tools/install-browser-tools

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
         name: Install Chrome
         command: |
              wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
              sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
              sudo apt-get update
              sudo apt-get install google-chrome-stable
      - run:
         name: Set CHROME_BIN and DBUS_SESSION_BUS_ADDRESS  environment variables 
         command:  |
            echo "export CHROME_BIN=/usr/bin/google-chrome" >> $BASH_ENV
            echo "export DBUS_SESSION_BUS_ADDRESS=/dev/null" >> $BASH_ENV
            export XDG_RUNTIME_DIR="/run/user/$UID" >> $BASH_ENV
            export DBUS_SESSION_BUS_ADDRESS="unix:path=${XDG_RUNTIME_DIR}/bus" >> $BASH_ENV
      - run:
         name: Build
         command: npm run build
      - run: 
         name: Run Tests - why was this so hard? 
         command: npm run test
         














    

              
   