version: 2.1

orbs:
  node: circleci/node@5.1.0 # Use the Node.js orb (a set of pre-packaged CircleCI configurations)

workflows:
    example-workflow:
      jobs:
        - node/run:
            app-dir: ~/project/my-app
             pkg-manager:npm