version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.1
executors:
  node-executor:
    docker:
      - image: circleci/node:latest

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - browser-tools/install-browser-tools
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install CHROME
          browser-tools:
      - run:
          name: Set CHROME_BIN environment variable
          command: echo "export CHROME_BIN=/usr/bin/google-chrome" >> $BASH_ENV

      - run:
          name: Build
          command: npm run build

      - run:
          name: Run tests
          command: npm run test
